__pycache__/
*.py[cod]
*.log


# venvs
venv/
.venv/
ENV/


# env files
*.env
.env/
.env.*


# OS/IDE
.DS_Store
.vscode/
.idea/


# build
build/
dist/
*.egg-info/
.eggs/


# data/model artifacts
Trained_Model/model.joblib
*.pkl
*.joblib